## 2nd lecture_ 10 nov:Tuple,Set,Dictionary

## Tuple:

* Tuple is data structure that holds collection of different objects in it. 
* For example, a tuple can hold numerical as well as string values in it along with the other collections like list, tuples etc.
* tuple are immutable
* It is enclosed in ()
* append are not allowed

In [1]:
t=(3,4,5,6)

In [2]:
type(t)

tuple

In [3]:
a=()
b=[]
c={}

In [4]:
type(a)

tuple

In [5]:
type(b)

list

In [6]:
type(c)

dict

In [7]:
 t

(3, 4, 5, 6)

In [8]:
test=(3,4,5,6,7,6)

### only 2 function are available in python for tuples
* count()
* index()

In [9]:
test

(3, 4, 5, 6, 7, 6)

In [10]:
test.count(6)

2

In [11]:
test.index(6)

3

In [12]:
test.append(3,4,5)## append are not allowed

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
test.extend(3,4,5)# tuple are immutable

AttributeError: 'tuple' object has no attribute 'extend'

* Size of the tuple can be determined using the len() funtion

In [15]:
len(test)

6

#### Indexing

Tuple elements can be accessed using the bracket operator. The index value starts from 0 and goes upto len() -1 .

In [16]:
test

(3, 4, 5, 6, 7, 6)

In [17]:
test[5]

6

In [18]:
test[0]

3

In [19]:
test[-1]

6

#### Slicing

The part of tuples can be accessed using the slicing.

In [20]:
test

(3, 4, 5, 6, 7, 6)

In [21]:
test[0:2] # extracts first two elements of tuple

(3, 4)

In [22]:
test[:3] # extracts first three elements of tuple

(3, 4, 5)

In [23]:
test[1:] # extracts all elements of tuple starting from second element

(4, 5, 6, 7, 6)

In [24]:
test[0::2] # extract every alternate element

(3, 5, 7)

In [25]:
test[ : : -1 ]  #access the elements of tuple in reverse manner

(6, 7, 6, 5, 4, 3)

#### Concatenation

Two tuples can be joined using the '+' operator.

In [26]:
t1=(3,4,5,6)
t2=(2,7,8,9)

In [27]:
t3 = t1+t2 ## concatenation

In [28]:
t3

(3, 4, 5, 6, 2, 7, 8, 9)

#### Repetition

Tuple elements can be repeated using "*" operator.

In [29]:
(1,2)*3 #(1,2) repeating 3 times

(1, 2, 1, 2, 1, 2)

In [30]:
tup=('a','b')
tup_new=tup*4
tup_new

('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')

#### Immutability

Tuple elements can not be altered.

In [31]:
t4=('Anand',3,45,66,'Ramya',"India")

In [32]:
t4

('Anand', 3, 45, 66, 'Ramya', 'India')

In [33]:
a='India' # strings & tuple are immutable i.e you cannot change the value at any position

In [34]:
a

'India'

In [35]:
a[1]

'n'

#### Iterable

Tuple is iterable. One can traverse through the individual tuple elements using loops.

In [36]:
t1

(3, 4, 5, 6)

In [37]:
len(t1)

4

In [38]:
list(range(len(t1)))

[0, 1, 2, 3]

In [39]:
for i in t1:
    print(i)
                     # []--> for index position

3
4
5
6

In [40]:
for i in range(len(t1)):
    print(t1[i])

3
4
5
6

In [41]:
t3

(3, 4, 5, 6, 2, 7, 8, 9)

In [42]:
t3[2]

5

In [43]:
range(10)

range(0, 10)

In [44]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Sorting

Tuple elements can be sorted as follows :

In [45]:
tup1=(13,3,4,5,55,10,9,78,9,11)
tup1

(13, 3, 4, 5, 55, 10, 9, 78, 9, 11)

In [46]:
sorted(tup1)

[3, 4, 5, 9, 9, 10, 11, 13, 55, 78]

In [47]:
tup2=('a','m','c','e','b','d')
tup2

('a', 'm', 'c', 'e', 'b', 'd')

In [48]:
sorted(tup2)

['a', 'b', 'c', 'd', 'e', 'm']

#### Deletion

Tuple can be removed from the memory by using del().

In [49]:
tup2

('a', 'm', 'c', 'e', 'b', 'd')

In [50]:
del(tup2)

In [51]:
tup2

NameError: name 'tup2' is not defined

## Set
* It is unordered collection of unique element.
* sets never returns a sorted dataset.There is an order but sorted.
* It can created with curly braces{}.

In [52]:
empty={}

In [53]:
type(empty)

dict

In [54]:
set_demo={2,3,"swami"}

In [55]:
set_demo

{2, 3, 'swami'}

In [56]:
type(set_demo)

set

* If Set elements are duplicate then they are removed automatically

In [57]:
set_dup={2,3,"swami",2,3,"swami",'laksh'}

In [58]:
set_dup

{2, 3, 'laksh', 'swami'}

In [59]:
set_dup[2]

TypeError: 'set' object is not subscriptable

In [60]:
len(set_dup)

4

In [61]:
type(set_dup)

set

In [62]:
for i in set_dup:
    print(i)

laksh
2
3
swami

* Set has a mixed element

In [63]:
set_ex={4,4,5,6,7,2,3,4,12,2,33,22,"abc","chitra","##","$$","Element",12,23.44}

In [64]:
set_ex ## There is an order but sorted

{'##', '$$', 12, 2, 22, 23.44, 3, 33, 4, 5, 6, 7, 'Element', 'abc', 'chitra'}

In [65]:
for i in set_ex:
    print(i)

33
2
3
4
5
6
7
##
12
chitra
Element
abc
22
23.44
$$

In [66]:
#ex1
s={1,2,3,4,55,}

In [67]:
s

{1, 2, 3, 4, 55}

In [68]:
type(s)

set

In [69]:
#ex2
s1={1,12,23,2,3,4,55,"D","B","a","bb","manya","##"}

In [70]:
s1

{'##', 1, 12, 2, 23, 3, 4, 55, 'B', 'D', 'a', 'bb', 'manya'}

In [71]:
for i in s1:
    print(i)

1
2
3
4
manya
B
##
12
a
55
23
bb
D

In [72]:
#ex:
s2={1,2,3,4,33,42,8,3,33,"Java",45,55.6,"Java","Sql","Powerbi","**","Tableau"}

In [73]:
s2

{'**', 1, 2, 3, 33, 4, 42, 45, 55.6, 8, 'Java', 'Powerbi', 'Sql', 'Tableau'}

In [74]:
for i in s2:
    print(i)

1
2
3
4
33
Java
Sql
8
Powerbi
42
Tableau
45
**
55.6

In [75]:
type(s2)

set

In [76]:
s2[2] # cannot predict order

TypeError: 'set' object is not subscriptable

In [77]:
s3={1,23,6,44,22,45,56.7,"a","A","##","$","Newline"}

In [78]:
s3

{'##', '$', 1, 22, 23, 44, 45, 56.7, 6, 'A', 'Newline', 'a'}

In [79]:
set={22,33,122,144,"##","Anmol","Anmol"}

In [80]:
set

{'##', 122, 144, 22, 33, 'Anmol'}

* pop() operation can be used to remove the first element from the set.

In [81]:
set_uni={1,22,33,3,4,33,33,4,44,5,5,5,55,55,"Amol"}

In [82]:
set_uni

{1, 22, 3, 33, 4, 44, 5, 55, 'Amol'}

In [83]:
set_uni.pop() #pop=Remove item

1

In [84]:
list_items=['Banana',"Apple","Mango","Mango","Oil",45.5,66,6,6,6,89,80]

In [85]:
list_items

['Banana', 'Apple', 'Mango', 'Mango', 'Oil', 45.5, 66, 6, 6, 6, 89, 80]

In [86]:
list_items.pop()

80

In [87]:
list_items.pop(6)

66

In [88]:
list_items.pop("Oil")

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
list_items

In [89]:
list_items.pop()

89

In [90]:
list_items

['Banana', 'Apple', 'Mango', 'Mango', 'Oil', 45.5, 6, 6, 6]

In [91]:
list_items.pop("Banana")

TypeError: 'str' object cannot be interpreted as an integer

* clear() can be used to remove all the elements of set.

In [92]:
test_set = {4, 5, 6}
test_set

{4, 5, 6}

In [93]:
test_set.clear()
test_set

set()

* 'in' and 'not in' can be used to determine if the element is present in set or not

In [94]:
country_set = {"India", "US", "US", "India"}

In [95]:
country_set

{'India', 'US'}

In [96]:
"India" in country_set

True

In [97]:
"India" not in country_set

False

#### Working with sets

'&' operator can be used to determine common elements of two or more sets

In [98]:
maharashtra_cities = {"Pune", "Mumbai", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Panjim", "Vasco", "Pune", "Mumbai", "Nagpur"}

In [99]:
maharashtra_cities & western_region_cities  # common cities between two sets

{'Mumbai', 'Nagpur', 'Pune'}

In [100]:
goa_cities & western_region_cities  # common cities between two sets

{'Panjim', 'Vasco'}

maharashtra_cities & goa_cities  # common cities between two sets, nothing common

* intersection() method can also be used to determine the common elements between two sets.

In [101]:
western_region_cities.intersection(maharashtra_cities)

{'Mumbai', 'Nagpur', 'Pune'}

* difference method() can be used to determine the elements which are part of set 1 only, not present in set 2.

In [102]:
western_region_cities.difference(maharashtra_cities)

{'Panjim', 'Vasco'}

* '|' operator can be used to get all cities from both sets

In [103]:
maharashtra_cities | western_region_cities  # all cities between two sets

{'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

* union() method can be used to get all the elements from both sets.

In [104]:
maharashtra_cities.union(goa_cities)

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

* set conversion from list

In [105]:
set_convert=set(list_items)

TypeError: 'set' object is not callable

In [106]:
list_convert = list({'Banana',"Apple","Mango","Mango","Oil",45.5,66,6,6,6,89,80})

In [107]:
list_convert

[66, 'Oil', 6, 'Banana', 45.5, 80, 'Mango', 'Apple', 89]

In [108]:
#ex:
list1 = ["Surya",1,2,3,4]

In [109]:
list1

['Surya', 1, 2, 3, 4]

In [110]:
s2=set(list1)

TypeError: 'set' object is not callable

### Dictionary

* Dictionaries are the structures which holds the data in key - value pair format.
* For example, key can be student id and value can be student object corresponding to that student id. 
* It allows faster access to the object as compared to the elements stored as part of list.

* Dictionaries are more general form of the lists. 
* They are more readable and one does not to keep the index in mind while accessing it.
* For example, a list of months is available, in order to access the October month, one need to keep its index in mind. Also if days of those months also needs to be referred, then another list needs to be maintained.

* It can be created with {} bracket.
* Key_value pair is separated from ":" .

In [111]:
empty_dict = {}

In [112]:
type(empty_dict)

dict

In [113]:
s={1,2,3,4,55,}

In [114]:
s = set()

TypeError: 'set' object is not callable

In [115]:
type(s)

set

In [116]:
s.add('Anand')

In [117]:
s

{1, 2, 3, 4, 55, 'Anand'}

In [118]:
s.add(33.44)

In [119]:
s

{1, 2, 3, 33.44, 4, 55, 'Anand'}

In [120]:
a={5}

In [121]:
type(a)

set

In [122]:
my_dict={'Jan':31,'Feb':28,"March":31,"Apr":30}# keys are string

In [123]:
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

#### Key can string,number or tuples basically it has to be immutable object.

In [124]:
dict1 = {1:'Jan',2:"Feb",3:"March",4:'Apr'} # keys are num
dict1

{1: 'Jan', 2: 'Feb', 3: 'March', 4: 'Apr'}

In [125]:
dict2= {(1,2019):'Jan',(2,2019):'Feb',(3,2019):'Mar'} # keys are tuple
dict2

{(1, 2019): 'Jan', (2, 2019): 'Feb', (3, 2019): 'Mar'}

In [126]:
dict3 = {[1,2019]:'Jan',[2,2019]:'Feb'} #key cannot be list
dict3

TypeError: unhashable type: 'list'

In [127]:
dict4 = {'Jan':[1,2019],'Feb':[2,2019]} # keys are string
dict4

{'Jan': [1, 2019], 'Feb': [2, 2019]}

In [128]:
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

In [129]:
type(my_dict)

dict

#### dict() function can also be used to create dictionary. List of tuples which actually contains the key value pairs needs to be provided as the input.

In [130]:
d=dict([('A',1),('B',2),('C',3)])

In [131]:
d

{'A': 1, 'B': 2, 'C': 3}

#### Accessing keys and values

All keys can be accessed via keys() method.

In [132]:
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

In [133]:
my_dict.keys()# get all the keys

dict_keys(['Jan', 'Feb', 'March', 'Apr'])

In [134]:
my_dict.values() # get all the values

dict_values([31, 28, 31, 30])

* All values can be accessed via values() method.

In [135]:
my_dict.items()

dict_items([('Jan', 31), ('Feb', 28), ('March', 31), ('Apr', 30)])

* Individual value can be found out by using the key associated with it.

In [136]:
my_dict['Jan']  # access number of days associated with 'Jan'

31

In [137]:
my_dict['Apr']  # access number of days associated with 'Apr'

30

In [138]:
my_dict['xyz'] #xyz not present

KeyError: 'xyz'

#### .get function

In [139]:
my_dict.get('xyz')

In [140]:
my_dict.get('Apr')

30

* 'in' and 'not in' can be used to determine key is present in dictionary or not

In [141]:
'Apr' in my_dict

True

In [142]:
2 in my_dict

False

In [143]:
2 not in [2,3,4,5,6,6,66]

False

### Looping

One can iterate over the entries in Dictionaries.

In [144]:
#Dictionary with Roman numerals
letter_dict = { 'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, "M":1000}
letter_dict

{'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}

In [145]:
letter_dict.keys()

dict_keys(['I', 'V', 'X', 'L', 'C', 'D', 'M'])

In [146]:
letter_dict.values()

dict_values([1, 5, 10, 50, 100, 500, 1000])

In [147]:
for key in letter_dict.keys():
    print(" ",key)

  I
  V
  X
  L
  C
  D
  M

In [148]:
for value in letter_dict.values():
    print(" ",value)

  1
  5
  10
  50
  100
  500
  1000

In [149]:
for key in letter_dict.keys(): #iterate over values
    print(key,' ',letter_dict[key])

I   1
V   5
X   10
L   50
C   100
D   500
M   1000

### Operations on dictionary

Entry (i.e. key value pair) can be added to dictionary in following manner :

In [150]:
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

In [151]:
my_dict['May'] = 31

In [152]:
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30, 'May': 31}

#### Key values can be modified using the assignment operator.

In [153]:
my_dict['May']

31

In [154]:
my_dict['May']=26 # current num change to 26

In [155]:
my_dict['May']

26

In [156]:
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30, 'May': 26}

#### Dictionary with complex object as values

The value can be a complex object like list itself.

In [157]:
# create emplyee dataset w
emp_dict = {1:['1','Emp A',34],2:['2','Emp B',35],3:['3','Emp C',26]}

In [158]:
emp_dict

{1: ['1', 'Emp A', 34], 2: ['2', 'Emp B', 35], 3: ['3', 'Emp C', 26]}

In [159]:
print(emp_dict)

{1: ['1', 'Emp A', 34], 2: ['2', 'Emp B', 35], 3: ['3', 'Emp C', 26]}

Add new employee in the database

In [160]:
new_emp=['4','Emp D',45]

In [161]:
emp_dict[4]=new_emp

In [162]:
emp_dict

{1: ['1', 'Emp A', 34],
 2: ['2', 'Emp B', 35],
 3: ['3', 'Emp C', 26],
 4: ['4', 'Emp D', 45]}

In [163]:
# get 26
emp_dict[3][-1] # [key][Index value]

26

In [164]:
emp_dict[3][2]

26

In [165]:
emp_dict[3][0]

'3'

In [166]:
emp_dict[2][2]

35

In [167]:
emp_dict[2][1]

'Emp B'

* keys are immutable
* values can be changeable

In [168]:
# Existing empl details can be modified

emp_dict

{1: ['1', 'Emp A', 34],
 2: ['2', 'Emp B', 35],
 3: ['3', 'Emp C', 26],
 4: ['4', 'Emp D', 45]}

In [169]:
emp_dict[2] = ['2','Emp B Modified',67] # alter the second employee

In [170]:
emp_dict

{1: ['1', 'Emp A', 34],
 2: ['2', 'Emp B Modified', 67],
 3: ['3', 'Emp C', 26],
 4: ['4', 'Emp D', 45]}

### Exercise:

Q1. Write a program that asks user to enter the 5 product names and prices. Store all of these in a dictionary with keys are product names and prices are values. Then allow the user to input the product name and print the corresponding price of the product.

In [171]:
# No of time ask the user to input
count=5

# empty dict
products = {}

for i in range(count):
    product_name=input('Enter the product name\n:')
    price=int(input('Enter the price of product\n:'))
    products[product_name]=price
             
print('\n')
product_name = input("Enter the product name\n:")
print("The corresponding price is",products[product_name])

Enter the product name
:samsung
Enter the price of product
:19000
Enter the product name
:vivo
Enter the price of product
:23000
Enter the product name
:oneplus
Enter the price of product
:35000
Enter the product name
:lgphone
Enter the price of product
:40000
Enter the product name
:redmi
Enter the price of product
:24000


Enter the product name
:samsung
The corresponding price is 19000

Q2. Create a dictionary where keys are name of months and days are values.
(a) Ask the user to input a month name and use the dictionary to tell how many days are in that month.
(b) Print out all the keys in alphabetical order.

In [172]:
#Q2 Solution
months = {'January':31, 'February':28, 'March':31, 'April':30, "May":31, 'June':30, 'July':31, "August":31, 'September':30,
          'October':31, 'November':30, 'December':31}

#(a) Ask the user to input a month name and use the dictionary to tell how many days are in that month.

month_name = input("Enter the month\n")
print(month_name, " has ", months[month_name], " days.")

#(b) Print out all the keys in alphabetical order.

print("\nThe keys in alphabetical order : \n")
for key in sorted(months.keys()):
    print(key)

Enter the month
March
March  has  31  days.

The keys in alphabetical order :

April
August
December
February
January
July
June
March
May
November
October
September

Q3. Ask user 5 times to enter a team name and how many times the team won and how many they lost. Store the information in a dictionary where the keys are team names and values are lists of form [wins, lossess].
(a) Using this dictionary, allow the user to enter a team name and print out the teams winning percentage.
(b) Using this dictionary, create a list whose entries are the number of wins of each team.

In [174]:
#Number of times asks the user to input the information
count = 2

#empty dictionary 
teams = {}

#Ask the user for team names and corresponding wins & losses, then add it to the dictionary
for i in range(count):
    team_name = input("Enter the team name\n")
    wins = int(input("Enter the wins\n"))
    losses = int(input("Enter the losses\n"))
    teams[team_name] = [wins, losses]

    
print("\n")    
team_name = input("Enter the team name\n")
print("The winning percentage is ", teams[team_name][0] / (teams[team_name][0] + teams[team_name][1]))

print("\n")    
winning_list = []
for value in teams.values():
    winning_list.append(value[0])
    
print('The winning list is ', winning_list)

Enter the team name
Indian
Enter the wins
6
Enter the losses
5
Enter the team name
uk
Enter the wins
5
Enter the losses
4


Enter the team name
usa

KeyError: 'usa'