## Function in python
* def() using for define function

In [1]:
def test():
    pass  ## it does nothing

In [2]:
type(test())

NoneType

In [3]:
def test(): # mandatory function should return something else give pass otherwise we will get an error

IndentationError: expected an indented block (4277359475.py, line 1)

In [5]:
def add():
    a=1
    b=2
    print(a+b)

In [6]:
add()

3

In [7]:
def add(a,b):
    print(a+b)

In [8]:
add(2,3)

5

In [9]:
add(2.5,7)

9.5

In [10]:
add(4,9.99)

13.99

In [11]:
add(2,'anand')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
"2"+"anan"

'2anan'

In [13]:
add("2",'ansh')

2ansh

In [14]:
type(print('xyz'))

xyz

NoneType

In [15]:
def add(a,b):
    return str(a)+str(b)

In [16]:
add(3,4)

'34'

In [17]:
add(3,"virat Kohli")

'3virat Kohli'

In [18]:
def add(a,b):
    a=1
    b=2
    print(a+b)

In [19]:
add(5,6)  # local variable

3

In [20]:
def add(a,b):
    print(a+b)

In [21]:
add(5,6)

11

In [22]:
def add(a,b):
    a=1
    b=2
    c=3
    return a+b

In [23]:
c=10
add(5,6)+6 # local variable

9

In [24]:
def add(a,b):
    a=1
    b=2
    c=3
    return a+b+c

In [25]:
c=10
add(5,6)+6

12

In [26]:
def add(a,b):
    a=1
    b=2
    c=3
    return a+b+c,a+b,a+b*c ##multiple return statement is allowed

In [27]:
add(2,3)

(6, 3, 7)

In [28]:
add(1,3)

(6, 3, 7)

In [29]:
type(add(2,3))

tuple

In [30]:
add(1,2,3)

TypeError: add() takes 2 positional arguments but 3 were given

In [31]:
add(6,5)+c

TypeError: can only concatenate tuple (not "int") to tuple

In [32]:
c=5
c=1
def add(a,b):
    a=1
    b=2
    c=4
    return a+b+c

In [33]:
add(2,3)

7

In [34]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [35]:
def my_func():
    x=10
    print("Value inside function:",x)
    
x=20
my_func()
print("Value outside function:",x)

Value inside function: 10
Value outside function: 20

In [36]:
def abc(a,b,c):
    return a+b+c,a*b*c,a+b*c

In [37]:
abc(2,3,4)

(9, 24, 14)

In [38]:
def test():
    return "Sudhanshu",[4,5,6,7],{'a':5,'b':6}

In [39]:
test()

('Sudhanshu', [4, 5, 6, 7], {'a': 5, 'b': 6})

In [40]:
int(4.675)

4

In [41]:
float(8)

8.0

In [42]:
str(5)

'5'

In [43]:
def add(a,b,c=2):
    c=1
    return a+b+c

In [44]:
add(1,2)

4

In [45]:
add(2,3,4)

6

In [46]:
add(2,3,4)

6

## Assign:
### create a list of all the employess with different name say 5 (from user using input)
### create a user defined function which returns the largest member(whose length is more) from a list

In [47]:
emp_list=['Anand','Manisha','Ravi','Tejaswini','Aishwarya']
print(emp_list)

['Anand', 'Manisha', 'Ravi', 'Tejaswini', 'Aishwarya']

In [48]:
#ex
max_len=0
for name in emp_list:
    if len(name)>max_len:
        max_len=len(name)
        emp_name=name
        
print("Maximum length of emplyee name: "+emp_name)

Maximum length of emplyee name: Tejaswini

In [49]:
emp_list = []
def emp_list():
    for i in range(5):
        emp_name = input("Enter Employee Name")
        test_list.append(emp_name)

print(emp_name)

Tejaswini

## Lambda function

* its a one line function which can take any number of arguments but only one expression,which is evaluated and returned
* its an anonoymous function i.e without a name
* lambda kleyword is used to define it
* no def keyword is used
* one is free to use lambda funcctions wherever funcxtions object are required
* You need to keep in your knowledge that lambda function are syntactically restricted to a single expression
* the lambda operator => separates the input parameters on the left side from the lambda body on the right side

In [50]:
z = lambda a,b,c:a*b/c

In [51]:
z(8,7,8)

7.0

In [52]:
z(4,4)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [53]:
# cube of num
cube=lambda x:x*x*x

In [54]:
cube(7)

343

### create a empty list
### Ask the user 5 times to inpute any number
### use lambda fun to test for add and even and pass that num to another list calling add/even

In [55]:
Check_No= lambda mylist[i]: if mylist[i]%2==0 print("Even") else ("Odd")

SyntaxError: invalid syntax (1296789662.py, line 1)

In [56]:
number = int(input("Enter a number >> "))
odd_even = lambda : "Even Number" if number % 2 == 0 else "Odd Number"
print(odd_even())

Enter a number >> 56
Even Number

In [57]:
number = int(input("Enter a number >> "))
odd_even = lambda : "Even Number" if number % 2 == 0 else "Odd Number"
print(odd_even())

Enter a number >> 55
Odd Number

## Filter Function

In [58]:
list1=[1,3,4,5,6,7,8,9,8,7]

In [59]:
print(list1)

[1, 3, 4, 5, 6, 7, 8, 9, 8, 7]

In [60]:
list1

[1, 3, 4, 5, 6, 7, 8, 9, 8, 7]

In [61]:
list(filter(lambda x:x%2==0,list1))

[4, 6, 8, 8]

In [62]:
a=list(filter(lambda x:x%2==0,list1))
b=list(filter(lambda x:x%2!=0,list1))

In [63]:
a,b

([4, 6, 8, 8], [1, 3, 5, 7, 9, 7])

In [64]:
def even_check(n):
    if n%2==0:
        return True

In [65]:
list(filter(even_check,list1))

[4, 6, 8, 8]

In [66]:
z=lambda a,b,c:a**2+b*3+c

In [94]:
z(5,6,7)

50

In [67]:
## Reduce function
## Reduce only work for 2 arguments

from functools import reduce

In [73]:
li=[2,3,4,5,6,7]
reduce(lambda x,y:x+y,li)

27

In [76]:
list1=[4,6,7,8,8,9]
reduce(lambda x,y:x+y,list1)

42

In [81]:
list1=[4,6,7,8,8,9]
reduce(lambda x,y:x/y,list1)

0.00016534391534391533

In [82]:
list3=[2,3,4,5,6,2]
reduce(lambda x,y)

SyntaxError: invalid syntax (2513802224.py, line 2)

In [83]:
list2=[1,2,3,4,5,5,6,6,7,9]
reduce(lambda x,y,z:x+y+z,list2)## Reduce only work for 2 arguments

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [84]:
def mydata(n):
    return lambda a,b:(a+b)*n
var=mydata(4)
print(var(2,3))

20

## Map function

In [85]:
list_test=[3,4,5,6,7,8,9,9]

In [86]:
list(map(lambda x:x**2,list_test))

[9, 16, 25, 36, 49, 64, 81, 81]

In [87]:
a = [1,2,3,4,5]
b = [5,6,7,4,3]
c = [6,7,8,5,6,5,4]

In [89]:
def summation(x,y,z):
    return x+y+z

In [92]:
list(map(summation,a,b,c))

[12, 15, 18, 13, 14]

In [93]:
list_test = (4,5,6,7,8,6,7,8,8)

In [94]:
a,b

([1, 2, 3, 4, 5], [5, 6, 7, 4, 3])

In [96]:
c

[6, 7, 8, 5, 6, 5, 4]

In [97]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
import os

In [99]:
os.getcwd()

'F:\\FSDA\\live\\python1'